spring:
  datasource:
    url: ${SPRING_DB_URL}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_APP_USERNAME}
    password: ${GMAIL_APP_PASSWORD} # 절대 일반 비밀번호 아님! (2단계 인증 후 발급)
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_API_ID}
            client-secret: ${GOOGLE_API_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - https://www.googleapis.com/auth/userinfo.email
              - https://www.googleapis.com/auth/userinfo.profile

          naver:
            client-id: ${NAVER_API_ID}
            client-secret: ${NAVER_API_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope:
              - name
              - email
            client-name: Naver

          kakao:
            client-id: ${KAKAO_API_ID}
            client-secret: ${KAKAO_API_SECRET}
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            # client-authentication-method 관련 설명
            # 디폴트값 : client_secret_basic <- Authorization Header로 받음
            # client_secret_post <- POST body(application/x-www-form-urlencoded)에 포함됨.
            # 카카오톡 OAuth는 보안정책상 POST body로 사용하기 때문에 디폴트값 사용시 401 에러였던 것
            client-authentication-method: client_secret_post
            scope:
              - profile_nickname
              - account_email # 비즈앱 신청함..
            client-name: Kakao

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id


app:
  frontend:
    url: ${NEXT_PUBLIC_API_URL}